<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Terapeuta</title>
    <link rel="stylesheet" href="../static/infoPaciente.css">
</head>
<body>
    <div class="header">
        <h1>Información del Paciente</h1>
        <button id="add-play-btn">Nuevo Juego</button>
    </div>
        <p><strong>ID:</strong> {{ paciente['id'] }}</p>
        <p><strong>Nombre:</strong> {{ paciente['nombre'] }}</p>
        <p><strong>Apellido:</strong> {{ paciente['apellido'] }}</p>
        <p><strong>Edad:</strong> {{ paciente['edad'] }}</p>
        <!-- Agrega más detalles si es necesario -->
    <table>
        <thead>
            <tr>
                <th>Número de Errores</th>
                <th>Tiempo total</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody id="patient-list">
            <!-- Los datos serán cargados aquí dinámicamente -->
        </tbody>
    </table>
    <div class="regresar">
        <a href="/terapeuta">Regresar</a>
    </div>
    <script src="../static/infoPaciente.js"></script>
</body>
</html>
